/*Подключаем нестандартные шрифты*/

@font-face {
	font-family: "Roboto";
	font-weight: 400;
	font-style: normal;
	src: url("../fonts/roboto.woff2") format("woff2"),
		 url("../fonts/roboto.woff") format("woff");
}

@font-face {
	font-family: "Roboto";
	font-weight: 500;
	font-style: normal;
	src: url("../fonts/robotomedium.woff2") format("woff2"),
		 url("../fonts/robotomedium.woff") format("woff");
}

@font-face {
	font-family: "Roboto";
	font-weight: 700;
	font-style: normal;
	src: url("../fonts/robotobold.woff2") format("woff2"),
		 url("../fonts/robotobold.woff") format("woff");
}


*,
*::before,
*::after {
	box-sizing: inherit;
}

html {
	box-sizing: border-box;
}

/*Общие стили*/
body {
	margin: 0;
	padding: 0;
	font-family: "Roboto", Arial, sans-serif;
	font-size: 16px;
	font-weight: 400;
	line-height: 22px;
	color: #ffffff;
	background-color: #849d8f;
}

a {
	color: #ffffff;
	/*border-bottom: solid 1px #abc2b5;*/
	text-decoration: none;	 
}

/*a:hover,
a:active {
	color: #ffbc9e;
	border-bottom: solid 1px #a7a294;
}*/

.visually-hidden {
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
}

.button {
	display: inline-block;
	font:inherit;
	font-size: 18px;
	line-height: 24px;
	text-decoration: none;
	font-weight: 700;
	color: #ffffff;
	background-color: #f06341;
	border: none;
	padding-top: 8px;
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 12px;
	background: #f26843;
    background: linear-gradient(to bottom, #f26843 0%, #e74a35 100%);
  	box-shadow: 0px 2px 2px 0px rgba(172, 16, 0, 0.64);
  	border-radius: 50px;
  	text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);
  	cursor: pointer;
}

.button:hover {
  background: linear-gradient(to bottom, #f58669 0%, #ec6f5e 100%);
  box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
}

.button:active {
  background: linear-gradient(to bottom, #d84732 0%, #e1613e 100%);
  box-shadow: inset 0 2px 2px rgba(172, 16, 0, 1);
}

/*Отключаем кружочки у списков*/

.site-menu,
.site-submenu,
.user-menu,
.user-login-form-links,
.slider-list,
.hits-list,
.features-list,
.socials,
.footer-menu,
.catalog-list,
.pagination,
.catalog-navigation-list {
	list-style: none;
	padding: 0;
	margin: 0;
	
}


.container {	
	width: 1200px;
	margin: 0 auto;
	padding: 0 27px;
}

.catalog-container {
	padding: 0;
}
/*Сетка хедера*/

.main-menu .container {
	
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
	flex-direction: row;
}

.main-header {


}

.main-header > .container {
	display: flex;
	padding: 0;
	flex-wrap: wrap;
	padding-top: 5px;
}


.main-menu {
	display: flex;
	align-items: center;
	flex-direction: row;
	
}





.main-menu-logo {
	padding-top: 4px;

	

}

.site-menu {
	min-width: 376px;
	display: flex;
	flex-wrap: wrap;
	margin-right: auto;
	margin-left: 0px;
	align-items: center;
	justify-content: space-between;
	margin-left: 10px;
	margin-bottom: 6px;
}

.site-menu > li {
	position: relative;
}



.main-header-contacts {
	text-align: right;
	margin-left: auto;
	margin-top:-5px;
	margin-right: 25px;

	
}
/*Меню навигации по сайту*/

.main-menu-logo {
	border-bottom: none;
}

.site-menu-link {
	display: block;
	padding: 6px 13px;
	border-radius: 20px;
	background-color: transparent;	
	font-weight: 700;
	line-height: 18px;
	
}

.site-menu-link:hover {
	display: block;
	padding: 6px 13px;
	border-radius: 20px;
	background-color: #f7f6f3;
	color: #333333;
	border-bottom: none;
	
	
}

.site-menu-link:active {
	background-color: #ededed;
	box-shadow: inset 0px 2px 1px 0px rgb(105, 105, 105);
}

/*.site-menu-link:current {
	background-color: #d07058;
	color: #ffffff;
	border-bottom: none;
}
*/



.site-submenu a {
	color: #323232;
	font-size: 14px;
	line-height: 16px;
	font-weight: 400;
	border-bottom: none;
	background-color: #f8f7f4;
}



.site-submenu a:hover {
	background-color: #fbded7;
}

.site-submenu a:active {
	background-color: #f6b5a5;
}

/*.site-submenu a:focus {    
	background-color: #d07058;
}
*/
.site-submenu {
	position: absolute;
	display: none;
	z-index: 10;
	padding: 0;
	margin: 0;
	min-width: 143px;
	background-color: #f8f7f4;
	top: 35px;
	left: -5px;
	border-radius: 7px;	
}
.site-submenu::before {
	content: "";
	position: absolute;
	background-color: transparent;
	width: 90px;
	height: 10px;
	top: -10px;
	left: 5px;

}

.site-menu li:first-child:hover .site-submenu {
	display: block;
}


.site-submenu a {
	display: block;
	padding-top: 8px;
	padding-bottom: 7px;
	padding-left: 20px;
	background-color: #f8f7f4;
}

.site-submenu li:first-child a {
	padding-top: 15px;
	padding-bottom: 12px;
	margin-bottom: 1px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	font-weight: 700;
}

.site-submenu li:last-child a {
	padding-bottom: 15px;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
}

.site-submenu li:first-child::after {
	content: "";
	display: block;
	height: 1px;
	width: 128px;
	position: absolute;
	left: 6px;
	top: 43px;
	background-color: #d1d0ce;
}

/*Меню пользователя*/
.user-menu {
	display: flex;
	justify-content: flex-end;
	min-width: 245px;
	margin: 0;
	padding: 0;
	margin-bottom: 5px;
	margin-left: auto;
}
.user-login ,
.user-basket,
.user-search {
	display: block;
	position: relative;
	padding-left: 44px;
	padding-right: 17px;
	padding-bottom: 8px;
	padding-top: 8px;
	background-color: rgba(255, 255, 255, 0.2);
	text-decoration: none;
	border-radius: 16px;
	font-size: 14px;
	line-height: 16px;
	font-weight: 500;
	margin-right: 10px; 
}

.user-basket {
	margin-right: 0;
}

.user-search {
	width: 32px;
	height: 32px;
	padding: 0;
}

.user-search:hover,
.user-login:hover,
.user-basket:hover {
	background-color: rgba(255, 255, 255, 1);
	color: #000000;
}

.user-search svg {
	position: absolute;
	left: 7px;
	top: 7px;
}

.user-search:hover path {
	fill: #000000;
}

.user-login svg {
	position: absolute;
	left: 17px;
	top: 6px;
}

.user-login:hover path {
	fill: #000000;
}

.user-basket svg {
	position: absolute;
	left: 16px;
	top: 6px;
}

.user-basket:hover path,
.user-basket:hover circle {
	fill: #000000;
}

.user-menu li {
	position: relative;
}
.user-search-form {
	display: none;
	position: absolute;
	z-index: 10;
	top: 36px;
	right: 8px;
	/*padding-top: 20px;
	padding-left: 15px;
	padding-bottom: 20px;
	padding-right: 15px;*/
	background-color: #f8f7f4;
	min-width: 342px;
	border-radius: 5px;

}

.user-search-form::before {
	content: "";
	display: block;
	background-color: transparent;
	height: 10px;
	width: 100px;
	position: absolute;
	top: -10px;
	right: 0;

}

.user-search-form input {
	min-width: 312px;
	height: 44px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px; 
	margin-bottom: 20px;
	border: 1px solid #d3d3d2;
	border-radius: 5px;
	padding-left: 15px;
	padding-right: 5px;
}



.user-menu li:first-child:hover .user-search-form {
	display: flex;
}



/*.user-login::before {
	content: "";
	position: absolute;
	width: 22px; 
	height: 22px;
	left: 17px;
	top: 6px;
	background-image: url(../img/decoration/entrance.svg);
	background-repeat: no-repeat;
	background-position: 0 0;		
}*/
/*.user-search::before {
	content: "";
	position: absolute;
	width: 22px; 
	height: 22px;
	left: 7px;
	top: 7px;
	background-image: url(../img/decoration/loupe.svg);
	background-repeat: no-repeat;
	background-position: 0 0;*/	
/*}*/

/*.user-basket::before {
	content: "";
	position: absolute;
	width: 22px; 
	height: 22px;
	left: 16px;
	top: 6px;
	background-image: url(../img/decoration/basket.svg);
	background-repeat: no-repeat;
	background-position: 0 0;	
}*/



.user-menu input {
	font:inherit;
	font-size: 14px;
	line-height: 24px;
	font-weight: 400;
	background-color: #ffffff;
}

.user-menu form {
	background-color: #f8f7f4;
}

.user-menu a {
	text-decoration: none;
	border-bottom: none;
}




.login-container a {
	color: #323232;
	text-decoration: none;
	border-bottom: solid 1px #323232;
	font-size: 13px;
	line-height: 14px;
	font-weight: 400;

}

.login-container a:hover,
.login-container a:active {
	color: #e84d37;
	border-bottom: solid 1px #f9cdc4;
}

.user-login-form p {
	margin: 0;
	padding: 0;
}
.user-login-form {
	display: none;
	position: absolute;
	flex-direction: column;
	align-items: center;
	width: 278px;
	min-height: 214px;
	background-color: #f8f7f4;
	padding: 20px;
	border-radius: 5px;
	top: 36px;
	right: 8px;
	z-index: 10;
}

.user-login-form::before {
	content: "";
	display: block;
	background-color: transparent;
	height: 10px;
	width: 100px;
	position: absolute;
	top: -10px;
	right: 0;

}

.user-login-form input {
	width: 240px;
	height: 44px;
	margin-right: auto;
	margin-left: auto;
	padding-left: 15px;
	margin-bottom: 20px;
	border: 1px solid #d3d3d2;
	border-radius: 5px;
}

.login-container {
	width: 238px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.login-button {
	padding-left: 25px;
	padding-right: 25px;
	border-radius: 20px;
	padding-top: 10px;
	padding-bottom: 8px;

}

.user-menu li:nth-child(2):hover .user-login-form {
	display: flex;
}

/*Контакты*/
.main-header-contacts {
	font-size: 14px;
	line-height: 24px;
	font-weight: 700;
	margin-top: -10px;
	margin-bottom: 10px;
}

.main-header-contacts span {
	font-size: 22px;
	line-height: 24px;
	font-weight: 700;

}

/*Сетка слайдеров*/
.slider  {
	position: relative; 
  	padding-top: 260px;  
  	text-align: center;
  	color: #ffffff;
  	margin-bottom: 40px;

}
.site-wrapper {

  	min-width: 940px;
  	background-image: url(../img/content/slider-1.png);
  	background-repeat: no-repeat;
  	background-position: top center;
    transition: background-image 0.5s ease, background-color 0.5s ease;
}

.site-wrapper::before,
.site-wrapper::after {
  content: "";

  visibility: hidden;
}

.site-wrapper::before {
  background-image: url("img/slider-item2.png");
}

.site-wrapper::after {
  background-image: url("img/slider-item3.png");
}

.slider-list {
  margin: 0;
  padding: 0;
  
}

.slide {
	display: none;
	
}

.slider-controls label {
  display: inline-block;
  width: 21px;
  height: 21px;
  margin-right: 8px;
  vertical-align: top;
  background-color: transparent;
  border: 2px solid #ffffff;
  border-radius: 50%;
  cursor: pointer;
}

.slider-controls label:hover {
	background-color: #b2c1b7;
}

.slider-controls label:active {
	background-color: #ffffff;
}

.slider-controls {
  position: absolute;
  bottom: 22px;
  left: 0;
  z-index: 10;
  font-size: 0;
}
/*Слайдеры*/

.slide-title {
	font-size: 60px;
	line-height: 60px;
	font-weight: 700;
	margin: 0 auto;
	width: 680px;
	margin-bottom: 36px;
}

.slider .button {
	font-size: 32px;
	line-height: 44px;
	font-weight: 700;
	padding-left: 40px; 
	padding-right:40px;
}

#product-1:checked ~ .site-wrapper {
  background-color: #849d8f;
  background-image: url(../img/content/slider-1.png);
}

#product-2:checked ~ .site-wrapper {
  background-color: #8996a6;
  background-image: url(../img/content/slider-2.png);
}

#product-3:checked ~ .site-wrapper {
  background-color: #9d8b84;
  background-image: url(../img/content/slider-3.png);
}

#product-1:checked ~ .site-wrapper #slide1,
#product-2:checked ~ .site-wrapper #slide2,
#product-3:checked ~ .site-wrapper #slide3 {
  display: block;
}

#product-1:checked ~ .site-wrapper label[for="product-1"],
#product-2:checked ~ .site-wrapper label[for="product-2"],
#product-3:checked ~ .site-wrapper label[for="product-3"] {
  background-color: #ffffff;
}

/*Сетка блока промо*/
.promo {

	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin-bottom: 32px;
}

.promo-item {
	
	position: relative;
	width: 560px;
	min-height: 230px;
	border-radius: 15px;
	padding-bottom: 90px;
}
/*Блок промо*/

.promo .promo-item:first-of-type {
	background-color: #640122;
	background-image: url(../img/bg/raspberry-bg.jpg);
	background-repeat: no-repeat;
	background-position: 0 0;
}

.promo .promo-item:last-of-type {
	background-color: #542c17;
	background-image: url(../img/bg/chocolate-bg.jpg);
	background-repeat: no-repeat;
	background-position: 0 0;
}

.promo-item h3 {
	font-size: 35px;
	line-height: 41px;
	font-weight: 700;
	margin-top: 14px;
	margin-left: 18px;
	margin-bottom: 17px;
}

.promo-item p {
	font-size: 18px;
	line-height: 22px;
	font-weight: 700;
	padding: 0 20px;
	margin: 0;
}

.promo-item .button {
	position: absolute;
	right: 22px;
	bottom: 25px;
}
/*Сетка хитов продаж и каталога*/

.hits {
	margin: 0;
}

.catalog-list {
	padding: 0;
	margin: 0;
	margin-left: 15px;
	display: flex;
	justify-content: flex-start;
	flex-wrap: wrap;
}


.catalog-list-item {
	position: relative;
	width: 293px;
	min-height: 368px;
	margin: 0;
	padding-top: 6px;
	padding-left: 14px;
	padding-right: 14px;
	text-align: center;
}

/*.catalog-list-ltem:hover {
	position: absolute;
	background-color: black;
}*/
/*.catalog-list-item:nth-child(4n) {
	margin-right: 0;*/
/*}*/

.catalog-list-item img {
	border-radius: 133px;
	margin-bottom: 2px;
}

.catalog-list-item p {
	padding: 0;
	margin: 0;
	position: absolute;
	top: 212px;
	left: 12px;
}

.catalog-list-item span {
	padding-left: 35px;
}

.catalog-list-item p::after {
	content: "";
	position: absolute;
	background-image: url(../img/decoration/ruble.svg);
	background-repeat: no-repeat;
	background-position: 0 0;

	width: 35px;
	height: 35px;
	top: 8px;
	left: 82px;
}

.catalog-list-item a {
	padding: 0;

	
}

.hits .catalog-list-item::before {
	content: "";
	position: absolute;
	width: 64px; 
	height: 64px;
	background-image: url(../img/decoration/hit.svg); 
	background-repeat: no-repeat;
	background-position: 0 0;
}
/*Блок хитов продаж и каталога*/


.item-price {
	font-size: 45px;
	line-height: 45px;
	font-weight: 700;
}

.item-price span {
	font-size: 30px;
	line-height: 45px;
	font-weight: 700;
}

.item-name {   
	font-weight: 500;
	border-bottom: solid 1px #abc2b5; 

}

.item-name:hover {
	color: #e84d37;
	border-bottom: solid 1px #f9cdc4;
}

.item-name:active {
	color: #e84d37;
	border-bottom: solid 1px #f9cdc4;

}

.catalog-list .item-button {
	display: none;
	position: absolute;
	top: 340px;
	left: 46px;
	padding-left: 17px;
	padding-right: 17px;
	border-radius: 20px;
	padding-top: 9px;
	padding-bottom: 12px;
	z-index: 10;
}

.catalog-list-item:hover::after {
	content: "";
	position: absolute;
	bottom: 0px;
	left: 0px;
	width: 293px;
	height: 37px;
	margin-bottom: -37px;
	z-index: 5;
	background-color: rgba(255, 255, 255, 0.2);
	border-bottom-left-radius: 7px;
	border-bottom-right-radius: 7px;
}


.catalog-list-item:hover {
	background-color: rgba(255, 255, 255, 0.2);
	border-top-left-radius: 7px;
	border-top-right-radius: 7px;
	/*min-height: 405px;*/
}

.catalog-list-item:hover .item-button {
	display: block;
}






/*Сетка блока преимуществ*/


/*Блок преимущества*/

.features h3 {
	font-size: 24px;
	line-height: 30px;
	font-weight: 500;
	color: #323232;
	margin: 0;
	padding: 0;
	margin-top: 25px;
	margin-bottom: 20px;


}

.features-wrap {
	display: flex;
	flex-direction: column;
	color: #323232;
	background-color: #eee4cc;
	background-image: url(../img/bg/pattern.jpg);
	width: 1146px;
	min-height: 305px;
	margin-bottom: 40px;
	padding-left: 20px;
	padding-right: 22px;
	border-radius: 15px;
	
}

.features-list {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: space-between;
	margin-left: 56px;
	align-items: stretch;
	align-content: stretch;

}
.features-list-item {
	position: relative;
	width: 480px;
	margin-bottom: 21px;
}

.features-list-item:first-child::before {
	content:"";
	position: absolute;
	width: 50px;
	height: 50px;
	background-image: url(../img/decoration/ice-cream.svg); 
	background-repeat: no-repeat;
	background-position: 0 0;
	top: -11px;
	left: -56px;
}

.features-list-item:nth-child(2)::before {
	content:"";
	position: absolute;
	width: 50px;
	height: 50px;
	background-image: url(../img/decoration/cow.svg); 
	background-repeat: no-repeat;
	background-position: 0 0;
	top: -11px;
	left: -58px;
}

.features-list-item:nth-child(3)::before {
	content:"";
	position: absolute;
	width: 50px;
	height: 50px;
	background-image: url(../img/decoration/eco.svg); 
	background-repeat: no-repeat;
	background-position: 0 0;
	top: -11px;
	left: -56px;
}

.features-list-item:nth-child(4)::before {
	content:"";
	position: absolute;
	width: 50px;
	height: 50px;
	background-image: url(../img/decoration/thermometer.svg); 
	background-repeat: no-repeat;
	background-position: 0 0;
	top: -11px;
	left: -58px;
}

.features-list-item p {
	padding: 0;
	margin: 0;
	font-size: 16px;
	line-height: 22px;
	font-weight: 400; 
	
	
	
}
/*Сетка блога и подписки*/
.blog-subscribe-wrap {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin-bottom: 40px;
	padding: 0;
}
/*Блок блога*/

.blog {

	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	background-color: #ffffff;
	background-image: url(../img/bg/strawberry-bg.jpg);
	background-repeat: no-repeat;
	background-position: -53px -223px;
	width: 560px;
	height: 220px;
	border-radius: 15px;
	padding-left: 20px;
	padding-top: 25px;
}

.blog p {
	color:#323232;
	line-height: 22px;
	font-size: 16px;
	font-weight: 500;
	min-width: 200px;
	padding: 0;
	margin: 0;
}

.blog-news {
	padding: 0;
	margin: 0;
	max-width: 300px;

}

.blog-news a {
	padding: 0;
	margin: 0;
	color: #323232;
	font-size: 24px;
	line-height: 30px;
	font-weight: 700;
	border-bottom: 2px solid #353535;
}

.blog-news a:hover {
	color: #e84d37;
	border-bottom: solid 1px #f9cdc4;
}

.blog-news a:active {
	color: #e84d37;
	border-bottom: solid 1px #f9cdc4;

}

/*Блок подписки*/
.subscribe-wrap {
	margin: 0;
	min-height:220px; 
	width: 560px;
	padding: 5px;
	background-image: url(../img/decoration/letter-bg.svg);
}
.subscribe {
	display: flex;
	flex-direction: column;
	padding: 30px 20px;
	margin: 0;
	background-color: #f8f7f4;
	width: 550px;
	height: 210px;
	border-radius: 15px;
}

.subscribe-form {
	display: flex;
	align-items: stretch;

}
.subscribe p {
	padding: 0;
	margin: 0;
	color: #5a5a5a;	
	margin-bottom: 35px;
}

.subscribe-form .button {
	margin-left: 7px;
}

.subscribe-form input {
	font:inherit;
	font-size: 16px;
	line-height: 24px;
	font-weight: 400;
	color: #999999;
	background-color: #ffffff;
	min-height: 44px;
	border: 1px solid #d3d3d2;
	border-radius: 5px;
	flex-grow: 1;
	padding-left: 15px;
	padding-right: 10px;
}

/*Сетка карты*/
.map .container {
	padding: 0;
	display: flex;
	background-color: #ede6c9;
	margin-bottom: 2px;
	position: relative;
}

/*Блок карты*/

.map {
	
}

.map-info {
	position: absolute;
	width: 302px;
	height: 305px;
	background-color: #ffffff;
	color: #323232;
	right: 27px;
	top: 60px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding-top: 30px;
	padding-left: 25px;
	padding-right: 25px;
	padding-bottom: 30px;
	border-radius: 15px;

}

.map-info p {
	font-size: 14px;
	line-height: 20px;
	padding: 0;
	margin: 0;
	margin-bottom: 20px;
}

.map-info b {
	font-size: 18px;
	line-height: 24px;
	font-weight: 700;
}

.map-info .button {
	text-align: center;
}
/*Сетка футера*/
.footer-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	min-height: 102px;
}

.socials {
	display: flex;
	width: 186px;
	flex-wrap: wrap;
	justify-content: space-between;
	margin: 0;
	padding: 0;
}

.footer-menu {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	max-width: 400px;
	align-items: baseline;
	align-content: center;
	margin: 0;
	padding: 0;
	margin-left: 80px;
}

.footer-menu li {
	min-width: 131px;
	margin-left: 10px;
}
/*Футер*/

.social-button {
	display: flex;
	width: 38px;
	height: 38px;
	align-items: center;
	justify-content: center;
	color: #000000;
	border-bottom: none;
	border-radius: 19px;
	border: 2px solid #c2cec7;
		
}

.social-button:hover {
	/*background-color: #ffffff;*/
	border-color: #dae2de;
}

.social-button:active {
	/*background-color: #e9e9e9;*/
	border-color: #dae2de;
}

.social-button:hover path {
	fill: #ffffff
}

.social-button:active path {
	fill: #e9e9e9;
}

.footer-menu-link {
	font-size: 13px;
	line-height: 18px;
	font-weight: 400;
	border-bottom: solid 1px #abc2b5;
}
.copyright-link:hover,
.footer-menu-link:hover {
	color: #ffbc9e;
	border-bottom: solid 1px #a7a294;
}

.copyright-link:active,
.footer-menu-link:active {
	color:#c2ac96;
	border-bottom: solid 1px #a7a294;
}

.first-link {
	font-weight: 700;
	position: relative;
}

.first-link::before {
	content: "";
	position: absolute;
	display: block;
	width: 18px; 
	height: 18px;
	background-image: url(../img/decoration/heart.svg);
	background-repeat: no-repeat;
	background-position: 0 0;
	top: 2px;
	left: -20px;
}

.copyright {
	display: flex;
	flex-direction: column;
	margin: 0;
	padding: 0;
	align-self: baseline;
	margin-top: 12px;

}

.copyright-link {
	border-bottom: solid 1px #abc2b5;
}



.copyright a,
.copyright p {
	font-size: 12px;
	line-height: 18px;
	margin: 0;
	padding: 0;
}

.copyright-logo {
	margin-bottom: 5px;
	border-bottom: none;
}

/*Форма обратной связи*/

.feedback-popup {
	display: none;
	position: fixed;
	top: 339px;
	left: 50%;
	margin-left: -238px;
	background-color: #f8f7f4;
	width: 478px;
	height: 442px;
	border-radius: 10px;
	padding-top: 15px;
	padding-left: 25px;
	padding-right: 20px;
	padding-bottom: 20px;
}

.feedback-popup p {
	padding: 0;
	margin: 0;
	margin-bottom: 20px;
}

.feedback-form {
	display: flex;
	flex-direction: column;
	/*justify-content: space-between;*/
	width: 438px;
	height: 402px;
}

.feedback-form input {
	font:inherit;
	font-size: 16px;
	line-height: 24px;
	font-weight: 400;
	color: #999999;
	background-color: #ffffff;
	width: 268px;
	min-height: 44px;
	padding-left: 15px;
	padding-right: 10px;
	border: 1px solid #d3d3d2;
	border-radius: 5px;
}

.feedback-form p:first-child {
	color: #323232;
	font-size: 24px;
	line-height: 28px;
	font-weight: 500;
}

.feedback-form textarea {
	width: 426px;
	min-height: 155px;
	border: 1px solid #d3d3d2;
	border-radius: 5px;
	padding-left: 15px;
	padding-right: 10px;
	padding-top: 10px;
}

.feedback-form .button {
	margin-left: auto;
	margin-right: 10px;
	padding-left: 25px;
}

.button-popup-close {
	position: absolute;
	top: 13px;
	right: 15px;
	width: 20px;
	height: 20px;
	font-size: 0px;
	cursor: pointer;
	background-color: transparent;
	border: 0;
}

.button-popup-close::before,
.button-popup-close::after {
  content: "";
  position: absolute;
  width: 22px;
  height: 3px;
  background-color: #231f20;
  top: 8px;
  left: 0px;
}

.button-popup-close::before {
  transform: rotate(45deg);
}

.button-popup-close::after {
  transform: rotate(-45deg);
}

.feedback-form input[type="text"],
.feedback-form input[type="email"],
.feedback-form textarea {
	font: inherit;
    color: #000000;
}

.feedback-form input[type="text"]:hover,
.feedback-form input[type="email"]:hover,
.feedback-form textarea:hover {
	border: 2px solid #c7c6c5;
}

.feedback-form input[type="text"]:focus,
.feedback-form input[type="email"]:focus,
.feedback-form textarea:focus {
	border: 2px solid #8fbdec;
}

/*Страница каталог*/

/*дополнение к сетке каталога*/
.catalog-navigation-list {
	padding: 0;
	display: flex;
}
.catalog h1 {
	font-size: 35px;
	line-height: 41px;
	font-weight: 700;
}

.catalog-navigation-list a{
	font-size: 14px;
	line-height: 16px;
}

.catalog-navigation-list li:last-child a {
	border-bottom: none;
}
/*Форма фильтра*/
/*пробная сетка к форме фильтра*/
.filter-form {
	display: flex;
	width: 865px;
	flex-wrap: wrap;
	align-items: center;
	margin-bottom: 40px;
}

.filter-form select,
/*на инпут тайп рэнж фон не работает, предполагаю что заработает в будущем*/
.filter-form input[type="range"], 
.filter-form fieldset {
	font:inherit;
	background-color: #a9bab0;
}

.filter-form-item label,
.filter-form legend {
	font-size: 14px;
	line-height: 16px;
	font-weight: 500;
}

.fieldset label {
	line-height: 18px;
	font-weight: 500;
}

.filter-form-button {
	font:inherit;
	line-height: 18px;
	font-weight: 500;
	background-color: #9cb0a4;
	border: solid 2px #fbfcfb;
	color: #ffffff;
}

.filter-form-button:hover {
	background-color: #fbfcfb;
	color: #353535;
}

.filter-form-button:active {
	background-color: #eaeaea;
	/*box-shadow*/
}

/*сетка пагинатора*/

.pagination {
	display: flex;
	width: 190px;
	justify-content: space-around;
	margin-left: auto;

}
/*Навигация в каталоге*/

.pagination a {
	font-weight: 500;
	line-height: 18px;
	border-bottom: none;
}

.pagination a:hover {
	background-color: #9db1a5;
	color: #ffffff;
}

.pagination a:active {
	background-color: #ffffff;
	color: #323232;
}










