/*Подключаем нестандартные шрифты*/

@font-face
{
    font-family: 'Roboto';
    font-weight: 400;
    font-style: normal;

    src: url('../fonts/roboto.woff2') format('woff2'), url('../fonts/roboto.woff') format('woff');
}

@font-face
{
    font-family: 'Roboto';
    font-weight: 500;
    font-style: normal;

    src: url('../fonts/robotomedium.woff2') format('woff2'), url('../fonts/robotomedium.woff') format('woff');
}

@font-face
{
    font-family: 'Roboto';
    font-weight: 700;
    font-style: normal;

    src: url('../fonts/robotobold.woff2') format('woff2'), url('../fonts/robotobold.woff') format('woff');
}

*,
*::before,
*::after
{
    -webkit-box-sizing: inherit;
            box-sizing: inherit;
}

html
{
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}


/*Общие стили*/

body
{
    font-family: 'Roboto', Arial, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;

    margin: 0;
    padding: 0;

    color: #fff;
    background-color: #849d8f;
}

.catalog-page-wrapper
{
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, .1)), to(transparent));
    background: linear-gradient(180deg, rgba(255, 255, 255, .1), transparent);
}

a
{
    text-decoration: none;

    color: #fff;
}

.visually-hidden
{
    position: absolute;

    overflow: hidden;
    clip: rect(0 0 0 0);

    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;

    border: 0;
}

.button
{
    font: inherit;
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;

    display: inline-block;

    padding-top: 8px;
    padding-right: 20px;
    padding-bottom: 12px;
    padding-left: 20px;

    cursor: pointer;
    text-decoration: none;

    color: #fff;
    border: none;
    border-radius: 50px;
    background: #f26843;
    background: -webkit-gradient(linear, left top, left bottom, from(#f26843), to(#e74a35));
    background: linear-gradient(to bottom, #f26843 0%, #e74a35 100%);
    background-color: #f06341;
    -webkit-box-shadow: 0 2px 2px 0 rgba(172, 16, 0, .64);
            box-shadow: 0 2px 2px 0 rgba(172, 16, 0, .64);
    text-shadow: 0 2px 5px rgba(160, 32, 11, .76);
}

.button:hover
{
    background: -webkit-gradient(linear, left top, left bottom, from(#f58669), to(#ec6f5e));
    background: linear-gradient(to bottom, #f58669 0%, #ec6f5e 100%);
    -webkit-box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
            box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
}

.button:active
{
    background: -webkit-gradient(linear, left top, left bottom, from(#d84732), to(#e1613e));
    background: linear-gradient(to bottom, #d84732 0%, #e1613e 100%);
    -webkit-box-shadow: inset 0 2px 2px rgba(172, 16, 0, 1);
            box-shadow: inset 0 2px 2px rgba(172, 16, 0, 1);
}


/*Отключаем кружочки у списков*/

.site-menu,
.site-submenu,
.user-menu,
.user-login-form-links,
.slider-list,
.hits-list,
.features-list,
.socials,
.footer-menu,
.catalog-list,
.pagination,
.catalog-navigation-list,
.breadcrumps-list
{
    margin: 0;
    padding: 0;

    list-style: none;
}

.container
{
    width: 1200px;
    margin: 0 auto;
    padding: 0 27px;
}

.catalog-container
{
    padding: 0;
}


/*Сетка хедера*/

.main-menu .container
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
        flex-direction: row;

    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
}

.main-header > .container
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    padding: 0;
    padding-top: 5px;

    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}

.main-menu
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
        flex-direction: row;

    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
}

.main-menu-logo
{
    padding-top: 4px;
}

.site-menu
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    min-width: 376px;
    margin-right: auto;
    margin-bottom: 6px;
    margin-left: 0;
    margin-left: 10px;

    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.site-menu > li
{
    position: relative;
}

.main-header-contacts
{
    margin-top: -5px;
    margin-right: 25px;
    margin-left: auto;

    text-align: right;
}

.main-menu-logo
{
    border-bottom: none;
}

.site-menu-link
{
    font-weight: 700;
    line-height: 18px;

    display: block;

    padding: 6px 13px;

    border-radius: 20px;
    background-color: transparent;
}

.site-menu-link span
{
    border-bottom: 1px solid rgba(255, 255, 255, .2);
}

.site-menu-link:hover span
{
    border: none;
}

.site-menu-link:hover
{
    display: block;

    padding: 6px 13px;

    text-decoration: none;

    color: #333;
    border-bottom: none;
    border-radius: 20px;
    background-color: #f7f6f3;
}

.site-menu-link:active
{
    background-color: #ededed;
    -webkit-box-shadow: inset 0 2px 1px 0 rgb(105, 105, 105);
            box-shadow: inset 0 2px 1px 0 rgb(105, 105, 105);
}

.site-menu .current
{
    text-decoration: none;

    color: #fff;
    border-bottom: none;
    background-color: #d07058;
}

.current span
{
    border: none;
}

.site-submenu a
{
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;

    color: #323232;
    border-bottom: none;
    background-color: #f8f7f4;
}

.site-submenu a:hover
{
    background-color: #fbded7;
}

.site-submenu a:active
{
    background-color: #f6b5a5;
}

.site-submenu
{
    position: absolute;
    z-index: 10;
    top: 35px;
    left: -5px;

    display: none;

    min-width: 143px;
    margin: 0;
    padding: 0;

    border-radius: 7px;
    background-color: #f8f7f4;
    -webkit-box-shadow: 0 20px 20px 0 rgba(0, 0, 0, .4);
            box-shadow: 0 20px 20px 0 rgba(0, 0, 0, .4);
}

.site-submenu::before
{
    position: absolute;
    top: -10px;
    left: 5px;

    width: 90px;
    height: 10px;

    content: '';

    background-color: transparent;
}

.site-menu-list-item:first-child:hover .site-submenu
{
    display: block;
}

.site-submenu a
{
    display: block;

    padding-top: 8px;
    padding-bottom: 7px;
    padding-left: 20px;

    background-color: #f8f7f4;
}

.site-submenu-list-item:first-child a
{
    font-weight: 700;

    margin-bottom: 1px;
    padding-top: 15px;
    padding-bottom: 12px;

    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.site-submenu-list-item:last-child a
{
    padding-bottom: 15px;

    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}

.site-submenu-list-item:first-child::after
{
    position: absolute;
    top: 43px;
    left: 6px;

    display: block;

    width: 128px;
    height: 1px;

    content: '';

    background-color: #d1d0ce;
}

.user-menu
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    min-width: 245px;
    margin: 0;
    margin-bottom: 5px;
    margin-left: auto;
    padding: 0;

    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
}

.user-login,
.user-basket,
.user-search,
.user-basket-catalog
{
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;

    position: relative;

    display: block;

    margin-right: 10px;
    padding-top: 8px;
    padding-right: 17px;
    padding-bottom: 8px;
    padding-left: 44px;

    text-decoration: none;

    border-radius: 16px;
    background-color: rgba(255, 255, 255, .2);
}

.user-basket,
.user-basket-catalog
{
    margin-right: 0;
}

.user-search
{
    width: 32px;
    height: 32px;
    padding: 0;
}

.user-search:hover,
.user-login:hover,
.user-basket:hover,
.user-basket-catalog
{
    color: #000;
    background-color: rgba(255, 255, 255, 1);
}

.user-search svg
{
    position: absolute;
    top: 7px;
    left: 7px;
}

.user-search:hover path
{
    fill: #000;
}

.user-login svg
{
    position: absolute;
    top: 6px;
    left: 17px;
}

.user-login:hover path
{
    fill: #000;
}

.user-basket svg
{
    position: absolute;
    top: 6px;
    left: 16px;
}

.user-basket:hover path,
.user-basket:hover circle
{
    fill: #000;
}

.user-menu li
{
    position: relative;
}

.user-search-form
{
    position: absolute;
    z-index: 10;
    top: 36px;
    right: 8px;

    display: none;

    min-width: 342px;

    border-radius: 5px;
    background-color: #f8f7f4;
    -webkit-box-shadow: 0 20px 20px 0 rgba(0, 0, 0, .4);
            box-shadow: 0 20px 20px 0 rgba(0, 0, 0, .4);
}

.user-search-form::before
{
    position: absolute;
    top: -10px;
    right: 0;

    display: block;

    width: 100px;
    height: 10px;

    content: '';

    background-color: transparent;
}

.user-search-form input
{
    min-width: 312px;
    height: 44px;
    margin-top: 20px;
    margin-right: auto;
    margin-bottom: 20px;
    margin-left: auto;
    padding-right: 5px;
    padding-left: 15px;

    border: 1px solid #d3d3d2;
    border-radius: 5px;
}

.user-menu-list-item:first-child:hover .user-search-form
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.user-search-form input,
.user-login-form input,
.user-login-form button
{
    outline: none;
}

.user-search-form input:hover,
.user-login-form input:hover
{
    border: 1px solid #c7c6c5;
    -webkit-box-shadow: inset #c7c6c5 0 0 0 1px;
            box-shadow: inset #c7c6c5 0 0 0 1px;
}

.user-search-form input:focus,
.user-login-form input:focus
{
    border: 1px solid #8fbdec;
    -webkit-box-shadow: inset #8fbdec 0 0 0 1px;
            box-shadow: inset #8fbdec 0 0 0 1px;
}

.feedback-form input[type='text']:hover,
.feedback-form input[type='email']:hover,
.feedback-form textarea:hover
{
    border: 1px solid #c7c6c5;
    -webkit-box-shadow: inset #c7c6c5 0 0 0 1px;
            box-shadow: inset #c7c6c5 0 0 0 1px;
}

.feedback-form input[type='text']:focus,
.feedback-form input[type='email']:focus,
.feedback-form textarea:focus
{
    border: 1px solid #8fbdec;
    -webkit-box-shadow: inset #8fbdec 0 0 0 1px;
            box-shadow: inset #8fbdec 0 0 0 1px;
}

.user-basket-catalog::before
{
    position: absolute;
    top: 6px;
    left: 16px;

    width: 22px;
    height: 22px;

    content: '';

    background-image: url(../img/decoration/basket-red.svg);
    background-repeat: no-repeat;
    background-position: 0 0;
}

.user-basket-container
{
    position: absolute;
    z-index: 10;
    top: 35px;
    left: -423px;

    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    display: none;
        flex-direction: column;

    width: 540px;
    min-height: 242px;

    border-radius: 7px;
    background-color: #f8f7f4;
    -webkit-box-shadow: 0 20px 20px 0 rgba(0, 0, 0, .4);
            box-shadow: 0 20px 20px 0 rgba(0, 0, 0, .4);

    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
}

.user-basket-list
{
    position: relative;

    margin: 0;
    padding: 0;
    padding: 15px;

    list-style: none;
}

.user-basket-list p,
.user-basket-list span
{
    font-size: 13px;
    font-weight: 400;
    line-height: 16px;

    color: #323232;
}

.user-basket-list-item
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    min-height: 44px;
    margin-bottom: 10px;

    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: baseline;
    -ms-flex-align: baseline;
    align-items: baseline;
}

.basket-delete-button
{
    display: block;

    width: 16px;
    height: 16px;
    margin-right: 5px;
    margin-left: 7px;

    cursor: pointer;

    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
}

.minified-item-image
{
    width: 34px;
    height: 34px;
    margin-right: 12px;

    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
}

.minified-item-image img
{
    border-radius: 17px;
}

.basket-item-name
{
    display: block;

    width: 222px;
    margin-right: 25px;
}

.basket-price span
{
    margin-left: 4px;
}

.basket-price
{
    margin-right: 28px;
}

.user-basket-list li:last-child
{
    padding-bottom: 5px;

    border-bottom: 1px solid #cacac7;
}

.user-basket-list-item:last-child .minified-item-image
{
    margin-top: -10px;
}

.user-basket-list-item:last-child .basket-delete-button
{
    margin-top: -13px;
}

.total-price
{
    font-size: 15px;
    font-weight: 700;
    line-height: 18px;

    position: absolute;
    top: 130px;
    right: 15px;

    color: #323232;
}

.user-basket-container .button
{
    position: absolute;
    top: 177px;
    right: 14px;

    padding-top: 9px;
    padding-right: 17px;
    padding-bottom: 12px;
    padding-left: 13px;

    border-radius: 20px;
}

.user-basket-container::before
{
    position: absolute;
    top: -10px;
    right: 0;

    display: block;

    width: 120px;
    height: 10px;

    content: '';

    background-color: transparent;
}

.user-menu-list-item:last-child:hover .user-basket-container
{
    display: block;
}

.user-menu input
{
    font: inherit;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;

    background-color: #fff;
}

.user-menu form
{
    background-color: #f8f7f4;
}

.user-menu a
{
    text-decoration: none;

    border-bottom: none;
}

.login-container a
{
    font-size: 13px;
    font-weight: 400;
    line-height: 14px;

    text-decoration: none;

    color: #323232;
    border-bottom: solid 1px #323232;
}

.login-container a:hover,
.login-container a:active
{
    color: #e84d37;
    border-bottom: solid 1px #f9cdc4;
}

.user-login-form p
{
    margin: 0;
    padding: 0;
}

.user-login-form
{
    position: absolute;
    z-index: 10;
    top: 36px;
    right: 8px;

    display: none;
        flex-direction: column;

    width: 278px;
    min-height: 214px;
    padding: 20px;

    border-radius: 5px;
    background-color: #f8f7f4;
    -webkit-box-shadow: 0 20px 20px 0 rgba(0, 0, 0, .4);
            box-shadow: 0 20px 20px 0 rgba(0, 0, 0, .4);

    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.user-login-form::before
{
    position: absolute;
    top: -10px;
    right: 0;

    display: block;

    width: 100px;
    height: 10px;

    content: '';

    background-color: transparent;
}

.user-login-form input
{
    width: 240px;
    height: 44px;
    margin-right: auto;
    margin-bottom: 20px;
    margin-left: auto;
    padding-left: 15px;

    border: 1px solid #d3d3d2;
    border-radius: 5px;
}

.login-container
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    width: 238px;

    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.login-button
{
    padding-top: 10px;
    padding-right: 25px;
    padding-bottom: 8px;
    padding-left: 25px;

    border-radius: 20px;
}

.user-menu-list-item:nth-child(2):hover .user-login-form
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.breadcrumps-list
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    min-width: 220px;
    margin-top: 20px;
    margin-left: 29px;
    padding: 0;

    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}

.catalog h1
{
    font-size: 35px;
    font-weight: 700;
    line-height: 41px;
}

.breadcrumps-list a
{
    font-size: 14px;
    line-height: 16px;

    position: relative;

    display: block;

    margin-right: 20px;

    border-bottom: solid 1px #abc2b5;
}

.breadcrumps-list-item:last-child a
{
    border-bottom: none;
}

.breadcrumps-list-item
{
    position: relative;
}

.breadcrumps-list-item:not(:last-child)::after
{
    position: absolute;
    top: -3px;
    right: 5px;

    content: '»';
}

.main-header-contacts
{
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;

    margin-top: -10px;
    margin-bottom: 10px;
}

.main-header-contacts span
{
    font-size: 22px;
    font-weight: 700;
    line-height: 24px;

    display: block;
}

.slider
{
    position: relative;

    margin-bottom: 40px;
    padding-top: 260px;

    text-align: center;

    color: #fff;
}

.site-wrapper
{
    min-width: 1200px;

    -webkit-transition: background-image .5s ease, background-color .5s ease;
            transition: background-image .5s ease, background-color .5s ease;

    background-image: url(../img/content/slider-1.png);
    background-repeat: no-repeat;
    background-position: top center;
}

.site-wrapper::before,
.site-wrapper::after
{
    visibility: hidden;

    content: '';
}

.site-wrapper::before
{
    background-image: url(../img/content/slider-2.png);
}

.site-wrapper::after
{
    background-image: url(../img/content/slider-3.png);
}

.slider-list
{
    margin: 0;
    padding: 0;
}

.slide
{
    display: none;
}

.slider-controls label
{
    display: inline-block;

    width: 21px;
    height: 21px;
    margin-right: 8px;

    cursor: pointer;
    vertical-align: top;

    border: 2px solid #fff;
    border-radius: 50%;
    background-color: transparent;
}

.slider-controls label:hover
{
    background-color: #b2c1b7;
}

.slider-controls label:active
{
    background-color: #fff;
}

.slider-controls
{
    font-size: 0;

    position: absolute;
    z-index: 10;
    bottom: 22px;
    left: 0;
}

.slide-title
{
    font-size: 60px;
    font-weight: 700;
    line-height: 60px;

    width: 680px;
    margin: 0 auto;
    margin-top: 5px;
    margin-bottom: 33px;
}

.slider .button
{
    font-size: 32px;
    font-weight: 700;
    line-height: 44px;

    padding-right: 40px;
    padding-left: 40px;
}

#product-1:checked ~ .site-wrapper
{
    background-color: #849d8f;
    background-image: url(../img/content/slider-1.png);
}

#product-2:checked ~ .site-wrapper
{
    background-color: #8996a6;
    background-image: url(../img/content/slider-2.png);
}

#product-3:checked ~ .site-wrapper
{
    background-color: #9d8b84;
    background-image: url(../img/content/slider-3.png);
}

#product-1:checked ~ .site-wrapper #slide1,
#product-2:checked ~ .site-wrapper #slide2,
#product-3:checked ~ .site-wrapper #slide3
{
    display: block;
}

#product-1:checked ~ .site-wrapper label[for='product-1'],
#product-2:checked ~ .site-wrapper label[for='product-2'],
#product-3:checked ~ .site-wrapper label[for='product-3']
{
    background-color: #fff;
}

.promo
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
        flex-direction: row;

    margin-bottom: 32px;

    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.promo-item
{
    position: relative;

    width: 560px;
    min-height: 230px;
    padding-bottom: 90px;

    border-radius: 15px;
}

.promo .promo-item:first-of-type
{
    background-color: #640122;
    background-image: url(../img/bg/raspberry-bg.jpg);
    background-repeat: no-repeat;
    background-position: 0 0;
}

.promo .promo-item:last-of-type
{
    background-color: #542c17;
    background-image: url(../img/bg/chocolate-bg.jpg);
    background-repeat: no-repeat;
    background-position: 0 0;
}

.promo-item h3
{
    font-size: 35px;
    font-weight: 700;
    line-height: 41px;

    margin-top: 14px;
    margin-bottom: 17px;
    margin-left: 18px;
}

.promo-item p
{
    font-size: 18px;
    font-weight: 700;
    line-height: 22px;

    margin: 0;
    padding: 0 20px;
}

.promo-item .button
{
    position: absolute;
    right: 22px;
    bottom: 25px;
}

.hits
{
    margin: 0;
}

.catalog-list
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    margin: 0;
    margin-left: 15px;
    padding: 0;

    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}

.catalog-list-item
{
    position: relative;

    width: 293px;
    min-height: 368px;
    margin: 0;
    margin-bottom: -6px;
    padding-top: 8px;
    padding-right: 14px;
    padding-left: 14px;

    text-align: center;
}

.catalog-list-item img
{
    margin-bottom: 5px;

    border-radius: 133px;
}

.catalog-list-item p
{
    position: absolute;
    top: 212px;
    left: 12px;

    margin: 0;
    padding: 0;

    text-shadow: 0 1px 3px rgba(49, 50, 53, 1);
}

.catalog-list-item span
{
    padding-left: 35px;

    text-shadow: 0 1px 3px rgba(49, 50, 53, 1);
}

.catalog-list-item p::after
{
    position: absolute;
    top: 8px;
    left: 82px;

    width: 35px;
    height: 35px;

    content: '';

    background-image: url(../img/decoration/ruble.png);
    background-repeat: no-repeat;
    background-position: 0 0;
}

.catalog-list-item a
{
    padding: 0;
}

.hits .catalog-list-item::before
{
    position: absolute;
    z-index: 50;

    width: 64px;
    height: 64px;

    content: '';

    background-image: url(../img/decoration/hit.svg);
    background-repeat: no-repeat;
    background-position: 0 0;
}

.item-price
{
    font-size: 45px;
    font-weight: 700;
    line-height: 45px;

    position: relative;
    z-index: 15;
}

.item-price span
{
    font-size: 30px;
    font-weight: 700;
    line-height: 45px;
}

.item-name
{
    font-weight: 500;

    position: relative;
    z-index: 10;

    border-bottom: solid 1px rgba(255, 255, 255, .3);
}

.item-name:hover
{
    color: #ffbc9e;
    border-bottom: solid 1px rgba(255, 188, 158, .3);
}

.item-name:active
{
    color: #ffbc9e;
    border-bottom: solid 1px rgba(255, 188, 158, .3);
}

.catalog-list .item-button
{
    position: absolute;
    z-index: 10;
    top: 336px;
    left: 46px;

    display: none;

    padding-top: 9px;
    padding-right: 17px;
    padding-bottom: 12px;
    padding-left: 17px;

    border-radius: 20px;
}

.catalog-list-item:hover::after
{
    position: absolute;
    z-index: 5;
    bottom: 0;
    left: 0;

    width: 293px;
    height: 405px;
    margin-bottom: -35px;

    content: '';

    border-radius: 7px;
    background-color: rgba(255, 255, 255, .2);
    -webkit-box-shadow: 0 0 30px 1px rgba(0, 0, 0, .3);
            box-shadow: 0 0 30px 1px rgba(0, 0, 0, .3);
}

.catalog-list-item:hover .item-button
{
    display: block;
}

.catalog-list-item:hover img
{
    position: relative;
    z-index: 10;
}

.features h3
{
    font-size: 24px;
    font-weight: 500;
    line-height: 30px;

    margin: 0;
    margin-top: 25px;
    margin-bottom: 20px;
    padding: 0;

    color: #323232;
}

.features-wrap
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
        flex-direction: column;

    width: 1146px;
    min-height: 305px;
    margin-top: 6px;
    margin-bottom: 40px;
    padding-right: 22px;
    padding-left: 20px;

    color: #323232;
    border-radius: 15px;
    background-color: #eee4cc;
    background-image: url(../img/bg/pattern.jpg);

    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
}

.features-list
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
        flex-direction: row;

    margin-left: 56px;

    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
}

.features-list-item
{
    position: relative;

    width: 480px;
    margin-bottom: 21px;
}

.features-list-item:first-child::before
{
    position: absolute;
    top: -11px;
    left: -56px;

    width: 50px;
    height: 50px;

    content: '';

    background-image: url(../img/decoration/ice-cream.svg);
    background-repeat: no-repeat;
    background-position: 0 0;
}

.features-list-item:nth-child(2)::before
{
    position: absolute;
    top: -11px;
    left: -58px;

    width: 50px;
    height: 50px;

    content: '';

    background-image: url(../img/decoration/cow.svg);
    background-repeat: no-repeat;
    background-position: 0 0;
}

.features-list-item:nth-child(3)::before
{
    position: absolute;
    top: -11px;
    left: -56px;

    width: 50px;
    height: 50px;

    content: '';

    background-image: url(../img/decoration/eco.svg);
    background-repeat: no-repeat;
    background-position: 0 0;
}

.features-list-item:nth-child(4)::before
{
    position: absolute;
    top: -11px;
    left: -58px;

    width: 50px;
    height: 50px;

    content: '';

    background-image: url(../img/decoration/thermometer.svg);
    background-repeat: no-repeat;
    background-position: 0 0;
}

.features-list-item p
{
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;

    margin: 0;
    padding: 0;
}

.blog-subscribe-wrap
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
        flex-direction: row;

    margin-bottom: 40px;
    padding: 0;

    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.blog
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
        flex-direction: column;

    width: 560px;
    min-height: 220px;
    padding-top: 25px;
    padding-left: 20px;

    border-radius: 15px;
    background-color: #fff;
    background-image: url(../img/bg/strawberry-bg.jpg);
    background-repeat: no-repeat;
    background-position: -53px -223px;

    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
}

.blog p
{
    font-size: 16px;
    font-weight: 500;
    line-height: 22px;

    min-width: 200px;
    margin: 0;
    padding: 0;

    color: #323232;
}

.blog-news
{
    max-width: 300px;
    margin: 0;
    padding: 0;
}

.blog-news a
{
    font-size: 24px;
    font-weight: 700;
    line-height: 30px;

    margin: 0;
    padding: 0;

    color: #323232;
    border-bottom: 2px solid #353535;
}

.blog-news a:hover
{
    color: #e84d37;
    border-bottom: solid 2px #f9cdc4;
}

.blog-news a:active
{
    color: #e84d37;
    border-bottom: solid 2px #f9cdc4;
}

.subscribe-wrap
{
    width: 560px;
    min-height: 220px;
    margin: 0;
    padding: 5px;

    background-image: url(../img/decoration/letter-bg.svg);
}

.subscribe
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
        flex-direction: column;

    width: 550px;
    min-height: 210px;
    margin: 0;
    padding: 30px 20px;

    border-radius: 15px;
    background-color: #f8f7f4;

    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
}

.subscribe-form
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
}

.subscribe p
{
    margin: 0;
    margin-bottom: 35px;
    padding: 0;

    color: #5a5a5a;
}

.subscribe-form .button
{
    margin-left: 7px;
}

.subscribe-form input
{
    font: inherit;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;

    min-height: 44px;
    padding-right: 10px;
    padding-left: 15px;

    color: #000;
    border: 1px solid #d3d3d2;
    border-radius: 5px;
    outline: none;
    background-color: #fff;

    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
}

.subscribe-form input:hover
{
    border: 1px solid #c7c6c5;
    -webkit-box-shadow: inset #c7c6c5 0 0 0 1px;
            box-shadow: inset #c7c6c5 0 0 0 1px;
}

.subscribe-form .input:focus
{
    border: 1px solid #8fbdec;
    -webkit-box-shadow: inset #8fbdec 0 0 0 1px;
            box-shadow: inset #8fbdec 0 0 0 1px;
}

.map .container
{
    position: relative;

    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    margin-bottom: 2px;
    padding: 0;

    background-color: #ede6c9;
}

.map-info
{
    position: absolute;
    z-index: 20;
    top: 60px;
    right: 27px;

    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
        flex-direction: column;

    width: 302px;
    height: 305px;
    padding-top: 30px;
    padding-right: 25px;
    padding-bottom: 30px;
    padding-left: 25px;

    color: #323232;
    border-radius: 15px;
    background-color: #fff;

    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: flex-start;
}

.map-info p
{
    font-size: 14px;
    line-height: 20px;

    margin: 0;
    margin-bottom: 20px;
    padding: 0;
}

.map-info b
{
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;

    display: block;
}

.map-info .button
{
    margin-top: 2px;

    text-align: center;
}

.map-info-tel
{
    margin-bottom: 5px;
}

.footer-container
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    min-height: 102px;

    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.socials
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    width: 186px;
    margin: 0;
    padding: 0;

    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.footer-menu
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    width: 400px;
    margin: 0;
    margin-left: 80px;
    padding: 0;

    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: baseline;
    -ms-flex-align: baseline;
    align-items: baseline;
    -ms-flex-line-pack: center;
    align-content: center;
}

.footer-menu li
{
    min-width: 131px;
    margin-left: 10px;
}

.social-button
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    width: 38px;
    height: 38px;

    color: #000;
    border: 2px solid #c2cec7;
    border-bottom: none;
    border-radius: 19px;

    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.social-button:hover
{
    border-color: #dae2de;
}

.social-button:active
{
    border-color: #dae2de;
}

.social-button:hover path
{
    fill: #fff;
}

.social-button:active path
{
    fill: #e9e9e9;
}

.footer-menu-link
{
    font-size: 13px;
    font-weight: 400;
    line-height: 18px;

    border-bottom: solid 1px rgba(255, 255, 255, .3);
}

.copyright-link:hover,
.footer-menu-link:hover
{
    color: #ffbc9e;
    border-bottom: solid 1px #a7a294;
}

.copyright-link:active,
.footer-menu-link:active
{
    color: #c2ac96;
    border-bottom: solid 1px #a7a294;
}

.first-link
{
    font-weight: 700;

    position: relative;
}

.first-link::before
{
    position: absolute;
    top: 2px;
    left: -20px;

    display: block;

    width: 18px;
    height: 18px;

    content: '';

    background-image: url(../img/decoration/heart.svg);
    background-repeat: no-repeat;
    background-position: 0 0;
}

.copyright
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
        flex-direction: column;

    margin: 0;
    margin-top: 15px;
    padding: 0;

    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    -ms-flex-item-align: baseline;
    align-self: baseline;
}

.copyright-link
{
    border-bottom: solid 1px rgba(255, 255, 255, .3);
}

.copyright a,
.copyright p
{
    font-size: 12px;
    line-height: 18px;

    margin: 0;
    padding: 0;
}

.copyright-logo
{
    margin-bottom: 5px;

    border-bottom: none;
}

.feedback-popup
{
    position: fixed;
    z-index: 60;
    top: 50%;
    left: 50%;

    display: none;

    width: 478px;
    height: 442px;
    margin-top: -221px;
    margin-left: -238px;
    padding-top: 15px;
    padding-right: 20px;
    padding-bottom: 20px;
    padding-left: 25px;

    border-radius: 10px;
    background-color: #f8f7f4;
}

.feedback-popup p
{
    margin: 0;
    margin-bottom: 20px;
    padding: 0;
}

.feedback-form
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
        flex-direction: column;

    width: 438px;
    height: 402px;

    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
}

.feedback-form input
{
    font: inherit;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;

    width: 268px;
    min-height: 44px;
    padding-right: 10px;
    padding-left: 15px;

    border: 1px solid #d3d3d2;
    border-radius: 5px;
    outline: none;
    background-color: #fff;
}

.feedback-form p:first-child
{
    font-size: 24px;
    font-weight: 500;
    line-height: 28px;

    color: #323232;
}

.feedback-form textarea
{
    width: 426px;
    min-height: 155px;
    padding-top: 10px;
    padding-right: 10px;
    padding-left: 15px;

    border: 1px solid #d3d3d2;
    border-radius: 5px;
    outline: none;
}

.feedback-form .button
{
    margin-right: 10px;
    margin-left: 290px;
    padding-left: 25px;
}

.button-popup-close
{
    font-size: 0;

    position: absolute;
    top: 13px;
    right: 15px;

    width: 20px;
    height: 20px;

    cursor: pointer;

    border: 0;
    background-color: transparent;
}

.button-popup-close::before,
.button-popup-close::after
{
    position: absolute;
    top: 8px;
    left: 0;

    width: 22px;
    height: 3px;

    content: '';

    background-color: #231f20;
}

.button-popup-close::before
{
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
}

.button-popup-close::after
{
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
}

.catalog h1
{
    margin: 0;
    margin-top: -10px;
    margin-bottom: 50px;
}

.filter-form-item p
{
    margin: 0;
    padding: 0;
}

.filter-form
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    min-width: 865px;
    min-height: 127px;
    margin-bottom: 18px;

    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-line-pack: justify;
    align-content: flex-start;
}

.filter-form input,
.filter-form button,
.filter-form select
{
    outline: none;
}

.filter-type
{
    position: relative;

    display: block;

    min-width: 190px;
    margin-right: 15px;
    margin-bottom: 38px;
}

.filter-type select
{
    font: inherit;
    font-size: 16px;
    font-weight: 500;
    line-height: 18px;

    display: block;

    height: 36px;
    padding-right: 35px;
    padding-left: 15px;

    color: #fff;
    border: none;
    border-radius: 30px;
    background-color: rgba(255, 255, 255, .2);

    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
}

.filter-type select::-ms-expand
{
    display: none;
}

.filter-type label
{
    position: absolute;
    top: -22px;
    left: 15px;
}

.filter-type-arrow
{
    position: absolute;
    top: 14px;
    right: 15px;

    width: 12px;
    height: 12px;

    background-image: url(../img/decoration/icon-down-dir-white.svg);
    background-repeat: no-repeat;
}

.filter-type:hover select
{
    color: #000;
}

.filter-type:hover .filter-type-arrow
{
    background-image: url(../img/decoration/icon-down-dir.svg);
}

.filter-range
{
    position: relative;

    display: block;

    min-width: 217px;
    height: 36px;
    margin: 0;
    margin-right: 15px;
    margin-bottom: 38px;
    padding: 0;

    border: none;
    border-radius: 30px;
    background-color: rgba(255, 255, 255, .2);
}

.filter-range-title
{
    position: absolute;
    top: -22px;
    left: 14px;
}

.price-controls
{
    position: absolute;
    top: -30px;
    left: 35px;

    width: 177px;
    margin-top: 8px;
    margin-right: 20px;
    margin-left: 20px;
}

.price-controls label
{
    font-size: 14px;
    line-height: 16px;

    display: inline-block;

    padding-right: 15px;

    cursor: pointer;
    vertical-align: top;
}

.price-controls::after
{
    position: absolute;
    top: 7px;
    left: 57px;

    width: 7px;
    height: 1px;

    content: '';

    background: #fff;
}

.price-controls input
{
    font: inherit;
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;

    width: 25px;
    margin: 0;

    color: inherit;
    border: none;
    background: none;
}

.range-controls
{
    position: relative;

    width: 177px;
    margin-top: 17px;
    margin-left: 20px;
}

.range-controls .scale
{
    height: 3px;

    background: rgba(255, 255, 255, .3);
}

.range-controls .bar
{
    width: 100px;
    height: 3px;
    margin-left: 25px;

    background: #fff;
}

.range-toggle
{
    position: absolute;
    top: -9px;

    width: 23px;
    height: 23px;

    cursor: pointer;

    background-image: url(../img/decoration/filter-button.svg);
    background-repeat: no-repeat;
}

.range-toggle-min
{
    left: 12px;
}

.range-toggle-max
{
    left: 110px;
}

.range-toggle:hover
{
    -webkit-transform: scale(1.1);
       -moz-transform: scale(1.1);
         -o-transform: scale(1.1);
            transform: scale(1.1);
}

.filter-fatness
{
    position: relative;

    display: block;

    min-width: 400px;
    height: 36px;
    margin-bottom: 38px;
    padding: 0;
    padding-top: 7px;
    padding-right: 12px;
    padding-left: 5px;

    border: none;
    border-radius: 30px;
    background-color: rgba(255, 255, 255, .2);
}

.filter-fatness legend
{
    position: absolute;
    top: -22px;
    left: 14px;
}

.filter-fatness label
{
    position: relative;

    width: 100px;
    margin-right: 5px;
    margin-left: 5px;
    padding-left: 36px;
}

.filter-fatness-radio
{
    position: absolute;
    top: -2px;
    left: 4px;

    width: 24px;
    height: 24px;

    opacity: .8;
    background-image: url(../img/decoration/radio-off.svg);
    background-repeat: no-repeat;
    background-position: 0 0;
}

.filter-fatness input[type='radio']:checked + .filter-fatness-radio
{
    opacity: .8;
    background-image: url(../img/decoration/radio-on.svg);
}

.filter-fatness label:hover .filter-fatness-radio,
.filter-fatness input[type='radio']:focus + .filter-fatness-radio
{
    opacity: 1;
}

.filter-fatness input[type='radio']:disabled + .filter-fatness-radio
{
    opacity: .4;
}

.filter-form-filling
{
    position: relative;

    display: block;

    min-width: 400px;
    height: 36px;
    padding: 0;
    padding-top: 7px;
    padding-right: 15px;
    padding-left: 5px;

    border: none;
    border-radius: 30px;
    background-color: rgba(255, 255, 255, .2);
}

.filter-form-filling legend
{
    position: absolute;
    top: -22px;
    left: 14px;
}

.filter-form-filling label
{
    position: relative;

    width: 100px;
    margin-right: 5px;
    margin-left: 9px;
    padding-left: 35px;
}

.filter-filling-checkbox
{
    position: absolute;
    top: -1px;
    left: 3px;

    width: 24px;
    height: 22px;

    opacity: .8;
    background-image: url(../img/decoration/checkbox-off.svg);
    background-repeat: no-repeat;
    background-position: 0 0;
}

.filter-form-filling input[type='checkbox']:checked + .filter-filling-checkbox
{
    opacity: .8;
    background-image: url(../img/decoration/checkbox-on.svg);
}

.filter-form-filling input[type='checkbox']:focus + .filter-filling-checkbox,
.filter-form-filling label:hover .filter-filling-checkbox
{
    opacity: 1;
}

.filter-form-filling input[type='checkbox']:disabled + .filter-filling-checkbox
{
    opacity: .4;
}

.filter-form select,
.filter-form input[type='range'],
.filter-form fieldset
{
    font: inherit;
}

.filter-form-item label,
.filter-form legend,
.filter-range-title
{
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
}

.fieldset label
{
    font-weight: 500;
    line-height: 18px;
}

.filter-form-button
{
    font: inherit;
    font-weight: 500;
    line-height: 18px;

    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    margin-left: 15px;
    padding: 7px 27px;
    padding-top: 8px;

    color: #fff;
    border: solid 2px #fbfcfb;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, .2);
}

.filter-form-button:hover
{
    color: #353535;
    background-color: #fbfcfb;
}

.filter-form-button:active
{
    padding: 9px 29px;
    padding-top: 10px;

    border: none;
    background-color: rgb(237, 237, 237);
    -webkit-box-shadow: inset 0 2px 1px 0 rgb(105, 105, 105);
            box-shadow: inset 0 2px 1px 0 rgb(105, 105, 105);
}

.pagination
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    min-width: 190px;
    margin-top: 48px;
    margin-right: 20px;
    margin-bottom: 20px;

    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}

.pagination a
{
    font-weight: 500;
    line-height: 28px;

    position: relative;

    display: block;

    min-width: 26px;
    height: 26px;
    margin-left: 3px;
    padding-right: 5px;
    padding-left: 5px;

    text-align: center;
    vertical-align: text-bottom;

    border-bottom: none;
    border-radius: 13px;
    background-color: transparent;
}

.pagination .current,
.pagination a:active
{
    color: #000;
    background-color: #fff;
}

.pagination a:hover
{
    color: #fff;
    background-color: rgba(255, 255, 255, .2);
}

.pagination a:active
{
    color: #323232;
    background-color: #fff;
}

.pagination-list-item:first-child svg
{
    position: absolute;
    top: 7px;
    left: 6px;

    width: 9px;
    height: 13px;

    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
}

.disabled path
{
    fill: rgba(255, 255, 255, .2);
}

.pagination-list-item:first-child path
{
    background-color: rgba(255, 255, 255, 0);
}

.pagination-list-item:first-child a:hover
{
    background-color: rgba(255, 255, 255, 0);
}

.pagination-list-item:last-child svg
{
    position: absolute;
    top: 7px;
    left: 11px;

    width: 9px;
    height: 13px;
}

.active:active path
{
    fill: #000;
}

.catalog-underline
{
    height: 1px;
    margin-bottom: 5px;
    padding-top: 8px;

    border-bottom: 1px solid rgba(255, 255, 255, .2);
}

.map
{
    position: relative;
}

.map img
{
    margin-top: -2px;
}
.interactive-map
{
    position: absolute;
    z-index: 10;
    top: -1px;
    left: 0;

    width: 100%;
    height: 431px;

    background-color: black;
}

.interactive-map iframe
{
    width: 100%;
    height: 431px;

    border: 0;
}

.popup-show
{
    display: block;

    -webkit-animation: popup .5s;
            animation: popup .5s;
}

.popup-error
{
    animation: shake .6s;
}

.popup-bg
{
    position: fixed;
    z-index: 55;
    top: 0;
    left: 0;

    display: none;

    width: 100%;
    height: 100%;

    background-color: rgba(0, 0, 0, .3);
}

.popup-bg-active
{
    display: block;

    -webkit-animation: popup .5s;
            animation: popup .5s;
}

@-webkit-keyframes popup
{
    0%
    {
        opacity: 0;
    }
    100%
    {
        opacity: 1;
    }
}

@keyframes popup
{
    0%
    {
        opacity: 0;
    }
    100%
    {
        opacity: 1;
    }
}

@keyframes shake
{
    0%,
    100%
    {
        transform: translateX(0);
    }

    10%,
    30%,
    50%,
    70%,
    90%
    {
        transform: translateX(-10px);
    }

    20%,
    40%,
    60%,
    80%
    {
        transform: translateX(10px);
    }
}
